


.MyProjects{

    background-color:#00ffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    color: rgb(17, 0, 255);
    box-shadow: 10px -10px;
    
    padding: 10% 10%;
    
    
    align-items: center;
    
}



  

    

